#page-container { width: 760px; margin: auto; background: red;
}
#header {
background: rgb(246, 52, 84);
height: 150px;
}
#content {
background: rgb(231, 90, 114);
}
#footer {
background: pink;
height: 66px;
}